header {
  margin-bottom: 20px;
}

.header-menu img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
}
