main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #818384;
  width: 60px;
  height: 60px;
}

.spell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
}
